 body {
     min-height: 100vh;
     display: flex;
 }

 .sidebar {
     height: 100vh;
     width: 250px;
     position: fixed;
     top: 0;
     left: 0;
     background-color: rgb(41, 53, 106);
     padding-top: 60px;
     color: white;
 }

 .sidebar a {
     color: #ddd;
     padding: 15px;
     display: block;
     text-decoration: none;
     cursor: pointer;
 }

 .sidebar a:hover {
     background-color: rgb(44, 126, 208);
     color: white;
 }

 .content {
     margin-left: 250px;
     padding: 30px;
     width: 100%;
 }

 .top-right-alert {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1055; /* above Bootstrap navbar */
    min-width: 250px;
    max-width: 400px;
}

